<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         cacheTokens="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60"
         verbose="false">

<testsuites>
  <testsuite name="ts1">
    <directory>suite/</directory>
  </testsuite>
</testsuites>

<filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">../src/</directory>
  </whitelist>
</filter>

<logging>
  <log type="coverage-html" target="/tmp/coverage-lx-utils"
       lowUpperBound="35" highLowerBound="70"/>
</logging>

</phpunit>

